body{
    text-align:center;
    font-size:1.6em;
    font-family:arial;
    background: url(http://67.media.tumblr.com/931125762652e49075f26f954049c0da/tumblr_msvseafYc01sflbiso1_500.gif);
    color:purple;
}

img{
    width:200px;
}